name: build

on:
  push:
    branches: [main, ci]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest-arm
  
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Build the project
      run: ./build.sh
